/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');


/* Styles for the body */


body {
	font-family: 'Poppins', sans-serif;
	color: #F0FFFF;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #87CEEB;
}

.resume-main {
	background-color: #2B2D31;
}

.resume-aside {
	background-color: #565656;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}


/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

/* Styles for the language bar */
.language-progress {
	 	background-color:#87CEEB;
}
.language-level {
	 	background:#2B2D31;
}
.position-absolute {
	 	color:#FFFFF;
}